@model SistemaGestionCEM.Datos.ALUMNO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Obtener Certificado</title>
    <style type="text/css">
        body {
        }
    </style>
</head>
<body>
    <div> 
        <center><h1>Certificado</h1></center>
        <hr />
        El alumno @Model.PERSONA.NOMBRE aprobo la wea
    </div>
</body>
</html>
