/* Remove the navbar's default margin-bottom and rounded borders */
* {
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
#navegacion {
    background-color: #1abc9c;
    font-family: Helvetica;
    margin:0;
    top:0;
    background: -webkit-linear-gradient(#3939ac, #5353c6, #3939ac); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3939ac, #5353c6, #3939ac); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3939ac, #5353c6, #3939ac); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3939ac, #5353c6, #3939ac); /* Standard syntax */
}
.menu-fixed {
    height:50px;
    position:fixed;
    z-index:1000;
    box-shadow: 0px, 4px, 3px, rgba(0,0,0,.5);
    top:0;
    width:100%;
    
}

.menu-fixed ul li a{
    padding: 15px 20px;
    
}
.inner {
    margin: auto;
    width:100%
}

#myNavbar a {
    color: white;
}

    #myNavbar a:hover {
        background-color: #000000;
    }

/* Add a gray background color and some padding to the footer */
footer {
    background: -webkit-linear-gradient(#3939ac, #5353c6, #3939ac); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3939ac, #5353c6, #3939ac); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3939ac, #5353c6, #3939ac); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3939ac, #5353c6, #3939ac); /* Standard syntax */
    font-family: 'Times New Roman' 'Times New Roman';
    color: white;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height: 200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}