@{
    ViewBag.Title = "Quienes somos";
}

@section ContenidoCentral
{
    <table>
        <tr>

            <td>
                <p>El centro de estudios Montreal , ubicado en canadá, es una organización de educación superior que forma profesionales</p>
                <p>en diversas áreas tecnológicas, dentro de sus actividades se encuentra la formación de estudiantes en el</p>
                <p> extranjero, en centros de estudios de determinado países, que actúan como organizaciones locales (CEL).</p>
            </td>
            <td>

                aqui va una imagen
            </td>
        </tr>

        <tr>
            <td>
                Aqui va otra imagen
            </td>
            <td>
               <p>En los últimos años, la posibilidad de cursar estudios en el extranjero ha tomado relevancia, toda vez que la</p>
               <p> experiencia que logran los estudiantes es valorada en el mercado.</p>
            </td>
        </tr>

    </table>
}


