@{
    ViewBag.Title = "Contacto";
}

@section ContenidoCentral
{
    <h1>Puedes contactarnos en cualquier momento</h1>
    <h2> Envíanos tus dudas, sugerencias, reclamos</h2>
    <h3> escribenos a contacto@cem.com</h3>
}