@{
    ViewBag.Title = "Inicio";
    
}

@section ContenidoCentral
{
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
       @ViewBag.Message
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="img-responsive" src="~/imagenes/Montreal.jpg"  alt="Aula">
            <div class="carousel-caption">
                <h1>Amplía tus horizontes</h1>
                <p>Amplía tus conocimientos</p>
            </div>
        </div>

        <div class="item">
            <img class="img-responsive" src="~/imagenes/Aula.jpg"  alt="Image">
            <div class="carousel-caption">
                <h1>Más de 50 cursos con diferentes destinos</h1>
                <h2>Solo selecciona el país y tu familia anfitriona.</h2>
            </div>
        </div>

        <div class="item">
            <img class="img-responsive" src="~/imagenes/Alumnos.jpg"  alt="Image">
            <div class="carousel-caption">
                <h1>Oportunidad de conocer nuevos lugares</h1>
                <h2>¡No dejes escapar esta oportunidad de vivir una experiencia que te cambiará la vida!</h2>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
    </div>

    <div class="container text-center">
        <h3>Mira la lista de Programas publicados!</h3><br>
        <div class="row">
            <div class="col-sm-4">
                <img  src="~/imagenes/Simbolo-Academico.jpg" class="img-responsive" style="width:100%" alt="Image">
                <p>blablabla</p>
            </div>
            <div class="col-sm-4">
                <img src="~/imagenes/Alumnos-paises.jpg" class="img-responsive" style="width:100%" alt="Image">
                <p>Project 2</p>
            </div>
        </div>
    </div>
}