@{
    ViewBag.Title = "alumno";
}

<li class="list">
    @Html.ActionLink("Ver programas disponibles", "VerProgramas", "Alumno")
</li>
<li>
    @Html.ActionLink("Ver Familias Disponibles", "FamiliasDisponibles", "Alumno")
</li>
<li>
    @Html.ActionLink("Estado de mi postulacion", "ConsultarPostulacion", "Alumno")
</li>
   
    
