@{
    ViewBag.Title = "encargadoCEL";
}
<li>
    @Html.ActionLink("Inicio", "Index", "EncargadoCEL")
</li>
<li>
    @Html.ActionLink("Asignarse a un Programa", "AsignarsePrograma", "EncargadoCEL")
</li>
<li>
    @Html.ActionLink("Registrar Notas", "RegistrarNotas", "EncargadoCEL")
</li>

