@{
    ViewBag.Title = "encargadoCEM";
}
<li>
    @Html.ActionLink("Inicio", "Index", "EncargadoCEM")
</li>
<li>
    @Html.ActionLink("Crear Programa de Estudio", "CrearPrograma", "EncargadoCEM")
</li>
<li>
    @Html.ActionLink("Publicar Programa de Estudio", "PublicarPrograma", "EncargadoCEM")
</li>
<li>
    @Html.ActionLink("Seleccion Postulantes", "PostulacionesPendientes", "EncargadoCEM")
</li>
