@{
    ViewBag.Title = "No autenticado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section ContenidoCentral
{
    <h1 class="alert-danger">Usted no posee permisos para estar aqui...</h1>
    @Html.ActionLink("Volver a Inicio", "Index", "Home")    
}

