
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string sesionActual = "";
    string nombre = "";

    if (Session["SesionActual"] != null)
    {
        sesionActual = Session["SesionActual"].ToString();
    }

    if (Session["Nombre"] != null)
    {
        nombre = Session["Nombre"].ToString();
    }
}

@section ContenidoCentral
{
    <h2>Bienvenido a su panel administrativo, @nombre</h2>

    <div id="programasAdmin">
        <h1>Administracion de Programas</h1>
        @Html.ActionLink("Crear un Programa de Estudio", "CrearPrograma", "Admin")
        @Html.ActionLink("Publicar un Programa", "PublicarPrograma", "Admin") 
    </div>
}



